html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(87, 168, 197) ;
}
.button{
    padding: 20px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 9px;
    width: 70px;
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
}
.row{
    margin: 8px 0px;
}
.row input{
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    width: 309px;
}
